.about {
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

h5 {
    margin-top: 15px;
}

.card {
    margin-top: 20px;
}

.card-header {
    background-color: #DACC3E;
    font-weight: bold;
}

.title {
    background-color: #BC2C1A;
    color: #fff;
    font-size: 11px;
    line-height: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.rounded-box {
    border-radius: 10px;
    padding: 5px 20px;
}