<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>שווה בדיקה | לוקחים אחריות = בוחרים בבריאות</title>

    <meta property='og:title' content="שווה בדיקה | לוקחים אחריות = בוחרים בבריאות "/>
    <meta property='og:type' content='Article'/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property='og:site_name' content='mashlom.me'/>
    <meta property='og:image' content='https://shavebdika.mashlom.me/assets/FullLogo1200x630.jpg'/>
    <meta property="og:image:secure_url" content="https://shavebdika.mashlom.me/assets/FullLogo1200x630.jpg" />
    <meta property='og:url' content="https://shavebdika.mashlom.me"/>
    <meta property='og:description' content="שווה בדיקה | לוקחים אחריות = בוחרים בבריאות"/>
    <meta name="description" content="שווה בדיקה | לוקחים אחריות = בוחרים בבריאות" />
    <meta name="keywords" content="שווה בדיקה, רפואה מונעת, לוקחים אחריות בוחרים בבריאות" />
    <meta name="robots" content="index, follow, NOODP" />
        

    <link rel="icon" href="assets/favicon.svg" type="image/svg+xml">
    <link href="3rd-party/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="3rd-party/fontawesome/fontawesome-free-6.5.1-web/css/all.min.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">    
    <link href="css/styles.css" rel="stylesheet">    
</head>
<body ng-app="app" ng-controller="ShaveController as ctrl">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J85BPCEQ2Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J85BPCEQ2Y');
    </script>
    <header class="header">
        <img src="assets/medical-report_6181461.svg" alt="Logo">
        <div class="header-text">שווה בדיקה - בריאות ורפואה מונעת</div>
    </header>
    <div class="scrollable-area">
        <div class="content">
            <div id="recommendations" class="content-after-click" ng-if="!ctrl.isWelcomePage" ng-cloak >
                <div class="control-bar">
                    <div class="row align-items-center">
                        <div class="col-md-2 mb-2 mb-md-0">
                            <input ng-model="ctrl.age" inputmode="decimal" type="text" pattern="[0-9]{1,4}" placeholder="הזן גיל"
                            maxlength="4" class="form-control" id="age-input">
                        </div>
                        <div class="col-md-2 mb-2 mb-md-0">
                            <div id="sex-input" class="d-flex justify-content-start">
                                <div class="form-check me-3">
                                    <input type="radio" id="male-input" name="sex-input" ng-model="ctrl.sex" class="form-check-input" value="male">                                    
                                </div>
                                <label for="male-input" class="form-check-label" style="margin-right: 10px;">גבר</label>
                                <div class="form-check">
                                    <input type="radio" id="female-input" name="sex-input" ng-model="ctrl.sex" class="form-check-input" value="female">                                    
                                </div>
                                <label for="female-input" class="form-check-label" style="margin-right: 10px;">אישה</label>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <button id="calculateRecommendations" ng-disabled="!ctrl.inputSatisifed()"
                                    ng-click="ctrl.calculateRecommendations()" class="btn custom-btn">חשב המלצות</button>
                        </div>
                    </div>
                </div>
                <div class="mt-4" ng-if="!!ctrl.medicalCaseIds">
                    <div class="card">
                        <div class="card-header">
                            המלצות אישיות
                        </div>
                        <div class="card-body">                          
                            <div class="card-text" ng-repeat="recommendation in ctrl.personalizedMedicalRecommendations() track by $index">
                                <p class="paragraph-title">
                                    {{recommendation.title}}
                                </p>
                                <p ng-bind-html="recommendation.description">
                                </p>
                            </div>
                        </div>
                      </div>                  
                </div>
                <div class="mt-4"  ng-if="!!ctrl.wellbeingCaseIds">
                    <div class="card">
                        <div class="card-header">
                            אורח חיים בריא
                        </div>
                        <div class="card-body">                          
                            <div class="card-text" ng-repeat="recommendation in ctrl.personalizedWellbeingRecommendations() track by $index">
                                <p class="paragraph-title">
                                    {{recommendation.title}}
                                </p>
                                <!-- <p ng-bind-html="ctrl.trustedHtml(recommendation.description)" ng-init="ctrl.compileHtml($event)"></p> -->
                                <!-- <div ng-bind-html="ctrl.trustedHtml(recommendation.description)" ng-init="ctrl.compileHtml(this)"></div> -->
                                <p ng-bind-html="recommendation.description"></p>
                                <bmi></bmi>
                            </div>
                        </div>
                      </div>                  
                </div>                
                <div class="mt-4">
                    <b>
                        *טופס זה מנוסח בלשון זכר אך מיועד לנשים ולגברים כאחד
                    </b>
                </div>
            </div>
            <div id="welcome" class="welcome-content" ng-if="ctrl.isWelcomePage == true">
                <div class="welcome-container">
                    <div class="welcome-right">
                        <img src="assets/Doctor_02.jpg" alt="Doctor">
                    </div>
                    <div class="welcome-left">
                        <div class="rounded-box text">
                            <span class="text-center mb-3"><b>רפואה מונעת תורמת למניעת מחלות, לשיפור איכות חיים ולהארכתם.</b></span>
                            <p>
                                "שווה בדיקה" היא תוכנית לאומית, המציעה לכם את פעולות המניעה, החיסונים והבדיקות לאיתור מוקדם של מחלות. ההמלצות המובאות כאן הן המלצות מבוססות ראיות שיש עליהן הסכמה מלאה.
                            </p>
                            <div class="row mb-3">
                                <div class="col-md-6 d-flex justify-content-end align-items-center">
                                    <input ng-model="ctrl.age" inputmode="decimal" type="text" pattern="[0-9]{1,4}" placeholder="הזן גיל"
                                    maxlength="4" class="form-control" id="weight">
                                </div>
                                <div class="col-md-6 d-flex justify-content-start align-items-center mt-3 mt-md-0">
                                    <div id="sex" class="d-flex">
                                        
                                        <div class="form-check me-2" style="margin-right: 0px !important;">
                                            <input type="radio" id="male" name="sex" ng-model="ctrl.sex"  class="form-check-input" value="male">                                            
                                        </div>
                                        <label for="male" class="form-check-label" style="margin-right: 10px;">גבר</label>                                        
                                        <div class="form-check">
                                            <input type="radio" id="female" ng-model="ctrl.sex" name="sex" class="form-check-input" value="female">                                            
                                        </div>
                                        <label for="female" class="form-check-label" style="margin-right: 10px;">אישה</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center mb-3">
                                <input type="checkbox" id="terms" class="form-check-input me-2" ng-model="ctrl.termsAccepted" style="margin-left:10px;">
                                <label for="terms" class="form-check-label" style="font-size:1rem;">
                                    אני מסכים <a href="terms.html">לתנאי השימוש</a> באתר
                                </label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button ng-click="ctrl.calculateRecommendations()" ng-disabled="!ctrl.termsAccepted || !ctrl.inputSatisifed()" class="btn custom-btn">חשב המלצות</button>
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
        <footer class="footer navbar navbar-expand-lg">
            <div class="container-fluid justify-content-start">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://wa.me/?text=%D7%9B%D7%91%D7%A8%20%D7%99%D7%A6%D7%90%20%D7%9C%D7%9A%20%D7%9C%D7%91%D7%93%D7%95%D7%A7%20%D7%9E%D7%94%20%D7%94%D7%94%D7%9E%D7%9C%D7%A6%D7%95%D7%AA%20%D7%A2%D7%91%D7%95%D7%A8%D7%9A%20%D7%91%22%D7%A9%D7%95%D7%95%D7%94%20%D7%91%D7%93%D7%99%D7%A7%D7%94%22?%20%D7%9C%D7%9E%D7%94%20%D7%90%D7%AA%D7%94%20%D7%9E%D7%97%D7%9B%D7%94?%20https://shavebdika.mashlom.me" target="_blank" ><i class="fas fa-share-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="terms.html">תנאי שימוש</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="about.html">אודות</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="fas fa-home"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="3rd-party/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="3rd-party/angularjs/angular.min.js"></script>
    <script src="3rd-party/angularjs/angular-sanitize.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/shave.js"></script>    
</body>
</html>