<div ng-repeat="section in ctrl.drugsData.sections track by $index " style="direction: ltr;" ng-if="!!ctrl.weight">
    <h4 class="drugs-header" style="text-align: center;">{{section.name}}</h4>
    <ul class="list-group" ng-repeat="drug in section.drugs track by $index" >
        <li  class="list-group-item">
        <div style="display: flex; justify-content: space-between; text-align: left; color: var(--page-font-color);">
            <span>
                {{drug.name}}: <b> {{ctrl.calcAmountToAdminister(drug)}} {{ctrl.getAdministrationUnit(drug)}}</b> - <span ng-class="{'bold-text': drug.howToGive && drug.howToGive.trim() !== 'IV'}">{{drug.howToGive}}</span>
                <div ng-if="!!drug.maxDose && drug.maxDose==ctrl.getDoseByWeightWithMaxLimit(drug)">
                  <span style="color:red;"><b>Used max dose of {{drug.maxDose}}&nbsp;{{drug.maxDoseUnit}}</b></span>
                </div>        
            </span>
            <i class="fa-solid fa-circle-info"  style="margin-left: 10px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#infoModal1_{{$index}}{{$parent.$index}}"></i>
            <div class="modal fade" id="infoModal1_{{$index}}{{$parent.$index}}" tabindex="-1" aria-labelledby="infoModalLabel__{{$index}}{{$parent.$index}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header green">                      
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <h5 class="modal-title" id="infoModalLabel_{{$index}}{{$parent.$index}}">Calculation of <b>{{drug.name}}</b>  Volume</h5>                      
                    </div>
                    <div class="modal-body">
                        <b>Dosage ratio: </b>{{drug.dose_per_kg}} {{drug.dose_unit}}/kg<br/>
                        <b>Calculation for a child weighing {{ctrl.weight}} kg:</b>
                        <ul>
                          <li>Total dose: {{ctrl.getDoseByWeightWithMaxLimit(drug)}} {{drug.dose_unit}} (calculated as {{drug.dose_per_kg}} {{drug.dose_unit}}/kg * {{ctrl.weight}} kg)</li>
                          <li ng-if="!!!drug.type">Concentration of {{drug.name}}: {{ctrl.splitRatio(drug.concentration)[0]}} {{drug.dose_unit}} per {{ctrl.splitRatio(drug.concentration)[1]}} ml</li>
                          <li ng-if="!!!drug.type">Volume to administer: {{ctrl.calcAmountToAdminister(drug)}} ml (calculated as total dose / concentration)</li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </li>
      </ul>  
</div>