<div className="form-row gestation-input">
    <div>
        <label>גובה בס"מ:</label>
        <input ng-model="ctrl.height" inputmode="decimal" type="text" pattern="[0-9]{2,3}" placeholder="הזן גובה"
                            maxlength="3" class="form-control" id="height">
    </div>
    <div>
        <label>משקל:</label>
        <input ng-model="ctrl.weight" inputmode="decimal" type="text" pattern="[0-9]{2,3}" placeholder="הזן גובה"
                            maxlength="3" class="form-control" id="weight" min={0} max={450}>
    </div>
    <div ng-if="!!ctrl.height && !!ctrl.weight">
        <label>BMI:</label>
        <div>{{ctrl.calcBMI()}}</div>
        <div>{{ctrl.getBMIText()}}</div>
    </div>
</div>
</div>